.container_carshop {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 40%;
    background-color: var(--color-background-strong);
    padding: 1.5rem;
    font-family: var(--font-family-two);
    overflow: scroll;
    scrollbar-width: 1px;

    & svg {
        height: 35px;
        width: 35px;
        cursor: pointer;
        transition: .2s ease;
    }

    & svg:hover {
        color: var(--color-one);
        transition: .2s ease;
    }

    & h1 {
        justify-self: center;
    }
}

.card_container {
    background-color: var(--color-background);
    padding: 1rem;
    margin: 2rem 0;
}

.card {
    display: flex;
    border-top: 2px solid var(--color-background-strong);
    margin: 1rem 0;
    padding: 1rem 0;
    gap: 0 0.5rem;

    & img{
        max-height: 100px;
        max-width: 100px;
        min-width: auto;
    }
}

.text_card {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    justify-content: space-between;
    & span {
        font-weight: 700;
        margin: 0 0.5rem;
    }
}

.finalPrice span{
    font-size: 1.5rem;
    font-weight: 500;
}

.trash{
    border: none;
    background-color: transparent;

    & svg {
        width: 30px;
        height: 30px;
        transition: .2s ease;
    }

    & svg:hover {
        color: var(--color-one);
        transition: .2s ease;
    }
}